<section class="sessao-conhecimentos" id="conhecimentos">
    <div class="sessao-header">
        <h1>Destinos</h1>
    </div>
    <div class="conhecimentos">
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-html5"></i>
                <h3>HTML</h3>
            </div>
            <div class="conhecimento-text">
                <p>HTML5 é uma linguagem de marcação para a World Wide Web e é uma tecnologia chave da Internet, originalmente proposto por Opera Software. É a quinta versão da linguagem HTML. Esta nova versão traz consigo importantes mudanças quanto ao
                    papel do HTML no mundo da Web, através de novas funcionalidades como semântica e acessibilidade. </p>
            </div>
        </div>
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-css3-alt"></i>
                <h3>CSS</h3>
            </div>
            <div class="conhecimento-text">
                <p>CSS3 é a terceira mais nova versão das famosas Cascading Style Sheets, onde se define estilos para seu projeto web.Com efeitos de transição, imagem,imagem de fundo/Background e outros, que dão um estilo novo e elegante a seus projetos
                    web. Ou em todos os aspectos de design do layout da página.
                </p>
            </div>
        </div>
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fas fa-laptop-house"></i>
                <h3>Manutenção de PCs</h3>
            </div>
            <div class="conhecimento-text">
                <p>Fazemos diversos serviços de manutenção de computadores, como limpeza, troca e instalação de componentes, instalação de programas e apps, formatação, implementação de redes, remoção de virus, entre outros, bastando nos contactar através
                    da sessão contato deste site, ou em nossas redes sociais.
                </p>
            </div>
        </div>
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-js"></i>
                <h3>Javascript</h3>
            </div>
            <div class="conhecimento-text">
                <p>Javascript é uma linguagem de programação de alta complexidade, mas de fácil uso, voltada para criar elementos em aplicações web, como sites, aplicativos e sistemas online. O mercado tem cada vez mais se direcionado para web, o que ressalta
                    o quanto a JavaScript ganhou papel de protagonismo.
                </p>
            </div>
        </div>
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-java"></i>
                <h3>Java</h3>
            </div>
            <div class="conhecimento-text">
                <p>Java é uma linguagem de programação orientada a objetos desenvolvida na década de 90 por uma equipe de programadores chefiada por James Gosling, na empresa Sun Microsystems. Em 2008 o Java foi adquirido pela empresa Oracle Corporation.
                </p>
            </div>
        </div>
        <div class="conhecimento">
            <div class="conhecimento-header">
                <i class="fab fa-github"></i>
                <h3>Git e GitHub</h3>
            </div>
            <div class="conhecimento-text">
                <p>Git é um sistema de controle de versão desenvolvido por Linus Torvalds (o criador do Linux).GitHub, a maior rede social para desenvolvedores do mundo, é um serviço baseado em nuvem que hospeda o Git. Permitindo a desenvolvedores colaborarem
                    fazendo mudanças em projetos compartilhados enquanto mantêm um registro detalhado do seu progresso.
                </p>
            </div>
        </div>
        <div class="conhecimentos-img-wrapper">
            <img src="/img/conhecimentos.png" alt="Conhecimento">
        </div>
    </div>
</section>