<section class="sessao-editarOrcamento">
    <div class="bgmodal" id="login">
        <div class="login1">
            <form action="/logar" method="POST" id="orcamentos" name="orcamentos">
                <h1 class="titulo">Login</h1>
                <div class="login">
                    <p class="login">
                        <small class="login">Usuário</small>
                        <input type="email" name="email" required>
                    </p>
                    <p class="login">
                        <small class="login">Senha</small>
                        <input type="password" name="Senha" required>
                    </p>
                </div>
            </form>
            <div class="modallogin">
                <p>
                    <button class="btn loginbtn" type="submit" form="orcamentos">Entrar</button>
                </p>
                <p>
                    <a href="/"><button class="btn loginbtn">Cancelar</button></a>
                </p>
            </div>
        </div>
    </div>
</section>